<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&family=Manufacturing+Consent&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Taller Zapiens</title>

</head>

<body>

    <div class="header">
        <div class="containerPanel">
            <div class="headerPanel">
                <div class="titlePanel">
                    <h2>Zapiens</h2>
                    <h3>Impresiones con pasión</h3>
                    <h3>Mucha pasión</h3>
                </div>
                <div class="paragraphPanel">
                    <p>Taller de serigrafía en donde cada impresión se hace con pasión y calidad</p>
                </div>
                <div class="contactUsButton">
                    <a href="#contactForm">
                        <button id="formButton">
                            <p>¡Cotiza tu proyecto aqui!</p>
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="content">
        <div class="aboutUs">
            <div class="aboutUsTitle">
                <h3>Sobre nosotros</h3>
            </div>
            <div class="aboutUsBody">
                <p>Llevamos más de 5 años en el mercado con la misión de satisfacer a nuestros clientes
                    con impresiones en serigrafía que destacan por su calidad y duración.<br> <br>

                    Nuestra visión es convertirnos en un taller de referencia en la CDMX resaltado por un excelente
                    servicio al cliente y cuidado al detalle.</p>
            </div>

        </div>
        <div class="section">
            <div class="sectionHeader">
                <div class="sectionTitle">
                    <h3>Servicios</h3>
                    <hr>
                </div>
                <div class="sectionParagraph">
                    <p>Nos enfocamos en la serigrafía textil con diferentes técnicas.</p>
                </div>
            </div>
            <div class="sectionBody">
                <div class="itemContainer">
                    <div class="item coloresPlanos">
                        <div class="itemTitle">
                            <h4>Colores Planos</h4>
                        </div>
                        <div class="itemParagraph">
                            <p>Si tu diseño es de hasta 8 colores, esta es tu opción</p>
                        </div>
                    </div>
                    <div class="item mediosTonos">
                        <div class="itemTitle">
                            <h4>Medios Tonos</h4>
                        </div>
                        <div class="itemParagraph">
                            <p>Para simular tonos continuos usando puntos</p>
                        </div>
                    </div>
                    <div class="item cuatricromia">
                        <div class="itemTitle">
                            <h4>Cuatricromía</h4>
                        </div>
                        <div class="itemParagraph">
                            <p>Usando la combinación de 4 colores obtenemos todos los demás</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  





</body>

</html>