<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css?v= <%= version %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&family=Manufacturing+Consent&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Taller Zapiens</title>

</head>

<body>

    <div class="header">
        <div class="containerPanel background">
            <div class="headerPanel">
                <div class="titlePanel">
                    <h2>Zapiens</h2>
                    <h3>Impresiones con pasión... mucha pasión.</h3>

                </div>
                <div class="paragraphPanel">
                    <p>Taller de serigrafía en donde cada impresión se hace con pasión y calidad</p>
                </div>
                <div class="contactUsButton">
                    <a href="#contactForm">
                        <button id="formButton">
                            <p>¡Cotiza tu proyecto aqui!</p>
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="content">
        <div class="aboutUs">
            <div class="aboutUsTitle">
                <h3>Sobre nosotros</h3>
            </div>
            <div class="aboutUsBody">
                <p>Llevamos más de 5 años en el mercado con la misión de satisfacer a nuestros clientes
                    con impresiones en serigrafía que destacan por su calidad y duración.<br> <br>

                    Nuestra visión es convertirnos en un taller de referencia en la CDMX resaltando por un excelente
                    servicio al cliente y atención al detalle.</p>
            </div>

        </div>
        <div class="section">
            <div class="sectionHeader">
                <div class="sectionTitle">
                    <h3>Servicios</h3>
                    <hr>
                </div>
                <div class="sectionParagraph">
                    <p>Nos enfocamos en la serigrafía textil con diferentes técnicas.</p>
                </div>
            </div>
            <div class="sectionBody">
                <div class="itemContainer">
                    <div class="item coloresPlanos">
                        <div class="backgroundSmall">
                            <div class="itemTitle">
                                <h4>Colores Planos</h4>
                                <br>
                            </div>
                            <div class="itemParagraph">
                                <p>Si tu diseño es de hasta 8 colores, esta es tu opción</p>
                            </div>
                        </div>

                    </div>
                    <div class="item mediosTonos">
                        <div class="backgroundSmallDark">
                            <div class="itemTitle">
                                <h4 class="black">Medios Tonos</h4>
                                <br>
                            </div>
                            <div class="itemParagraph">
                                <p class="black">Para simular tonos continuos usando puntos</p>
                            </div>
                        </div>
                    </div>
                    <div class="item cuatricromia">
                        <div class="backgroundSmall">
                            <div class="itemTitle">
                                <h4>Cuatricromía</h4>
                                <br>
                            </div>
                            <div class="itemParagraph">
                                <p>Usando la combinación de 4 colores obtenemos todos los demás</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="testimonials">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">Lo que dicen nuestros clientes</h2>
                </div>
                <div class="testimonials-content">
                    <div class="swiper testimonials-slider js-testimonials-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide testimonial-item">
                                <div class="info">
                                    <img src="images/clienteHombre3.jpg" alt="">
                                    <div class="text-box">
                                        <h3 class="name">Blanca Ramiréz</h3>
                                        <span class="job">Cliente</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Praesent fermentum dapibus massa, consectetur sagittis
                                    ligula pharetra sit amet. Aliquam nec interdum diam, a ultricies ante.
                                </p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-item">
                                <div class="info">
                                    <img src="images/clienteHombre1.jpg" alt="">
                                    <div class="text-box">
                                        <h3 class="name">Alfonso Zarate</h3>
                                        <span class="job">Somos Neta</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Praesent fermentum dapibus massa, consectetur sagittis
                                    ligula pharetra sit amet. Aliquam nec interdum diam, a ultricies ante.
                                </p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-item">
                                <div class="info">
                                    <img src="images/clienteMujer2.jpg" alt="">
                                    <div class="text-box">
                                        <h3 class="name">Carmen Gonzalez</h3>
                                        <span class="job">Máquina 9</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Praesent fermentum dapibus massa, consectetur sagittis
                                    ligula pharetra sit amet. Aliquam nec interdum diam, a ultricies ante.
                                </p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="swiper-slide testimonial-item">
                                <div class="info">
                                    <img src="images/clienteMujer1.jpg" alt="">
                                    <div class="text-box">
                                        <h3 class="name">Yolanda Rojas</h3>
                                        <span class="job">Cliente</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Praesent fermentum dapibus massa, consectetur sagittis
                                    ligula pharetra sit amet. Aliquam nec interdum diam, a ultricies ante.
                                </p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination js-testimonials-pagination"></div>
                </div>
            </div>
        </section>

        <div class="section">
            <div class="sectionHeaderDiferencia">
                <div class="sectionTitleDiferencia">                   
                    <hr>
                     <h3 class="h3Diferencia">¿Por qué dicen eso?</h3>
                </div>
                <div class="sectionParagraphDiferencia">
                    <p>Por muchas razones pero las principales...</p>
                </div>
            </div>
            <div class="sectionBody">
                <div class="iconContainer">
                    <div class="iconElement">
                        <img class="comunicacion" src="iconos/comunicación.png" alt="">
                        <div class="iconTitle">
                                <h4 class="h4Diferencia">Comunicación Efectiva</h4>
                                <br>
                            </div>
                        <div class="iconParagraph">
                                <p class="pDiferencia">Nos gusta mantener una comunición real con nuestros clientes. No dejamos lugar a dudas.</p>
                            </div>
                    </div>
                     <div class="iconElement">
                        <img class="comunicacion" src="iconos/colaboración.png" alt="">
                        <div class="iconTitle">
                                <h4 class="h4Diferencia">Somos un equipo</h4>
                                <br>
                            </div>
                        <div class="iconParagraph">
                                <p class="pDiferencia">Formamos equipo con nuestros clientes para buscar soluciones a cualquier reto.</p>
                            </div>
                    </div>
                    <div class="iconElement">
                        <img class="comunicacion" src="iconos/calidad.png" alt="">
                        <div class="iconTitle">
                                <h4 class="h4Diferencia">Calidad en cada trabajo</h4>
                                <br>
                            </div>
                        <div class="iconParagraph">
                                <p class="pDiferencia">Somos muy estrictos con la calidad. Revisamos hasta el mínimo detalle</p>
                            </div>
                    </div>
                    <div class="iconElement">
                        <img class="comunicacion" src="iconos/satis.png" alt="">
                        <div class="iconTitle">
                                <h4 class="h4Diferencia">Clientes contentos</h4>
                                <br>
                            </div>
                        <div class="iconParagraph">
                                <p class="pDiferencia">Desde el primer contacto y hasta después de la entrega, nuestros clientes reciben lo mejor.</p>
                            </div>
                    </div>
                    
                        

                    </div>
                    
                </div>
            </div>
        </div>






        <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
        <script>
            const swiper = new Swiper('.js-testimonials-slider', {
                grabCursor: true,
                spaceBetween: 30,
                pagination: {
                    el: ".js-testimonials-pagination",
                    clickable: true,
                },
                breakpoints: {
                    767: {
                        slidesPerView: 2
                    }
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },


            })
        </script>
    </div>
</body>

</html>