<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&family=Manufacturing+Consent&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Taller Zapiens</title>

</head>

<body>

    <div class="header">
        <div class="containerPanel">
            <div class="headerPanel">
                <div class="titlePanel">
                    <h2>Zapiens</h2>
                    <h3>Impresiones con pasión</h3>
                    <h3>Muchas pasión</h3>
                </div>
                <div class="paragraphPanel">
                    <p>Taller de serigrafía en donde cada impresión se hace con pasión y calidad</p>
                </div>
                <div class="contactUsButton">
                    <a href="#contactForm">
                        <button id="formButton">
                           
                            <p>¡Cotiza tu proyecto aqui!</p>
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="content">
        <div class="aboutUs">
            <div class="aboutUsTitle">
                <h3>Sobre nosotros</h3>
            </div>
            <div class="aboutUsBody">
                <p>Llevamos más de 5 años en el mercado con la misión de satisfacer a nuestros clientes
                    con impresiones en serigrafía que destacan por su calidad y duración.<br> <br>

                    Nuestra visión es convertirnos en un taller de referencia en la CDMX resaltado por un excelente
                    servicio al cliente y cuidado al detalle.</p>
            </div>

        </div>
        <div class="services">
            <div class="servicesHeader">
                <h3>Servicios</h3>
                <hr>
            </div>
            <div class="serviceParagraph">
                <p>Nos enfocamos en la serigrafía textil con diferentes técnicas.</p>
            </div>
            <div class="serviceMainPanel">
                <div class="servicePanel plastisol">
                    <h4>Plastisol</h4>
                    <p>Colores muy vivos durante mucho tiempo</p>
                </div>
                <div class="servicePanel baseagua">
                    <h4>Base agua</h4>
                    <p>Impresión con tacto suave y fresco para prendas blancas</p>
                </div>
                <div class="servicePanel corrosión">
                    <h4>Corrosión</h4>
                    <p>Impresión base agua pero para prendas oscuras</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>